# Assignment No - 2 Data Types and Structures

1. What are data structures, and why are they important?
- Data structures are ways to organize and store data so that it can be accessed and modified efficiently. They are important because they help manage large amounts of data, make processing faster, and enable better use of algorithms.

2. Mutable vs Immutable Data Types
- Mutable: Can be changed after creation (e.g., list, dict, set)
- Immutable: Cannot be changed (e.g., str, int, tuple)

3. List vs Tuple in Python
- Lists are mutable, slower, and use more memory.
- Tuples are immutable, faster, and memory-efficient.

4. How dictionaries store data
- Dictionaries store data as key-value pairs using a hash table under the hood.

5. Why use a set instead of a list?
- Sets automatically remove duplicates and offer faster lookup for membership tests.

6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters, immutable. A list can contain any data types and is mutable.

7. How do tuples ensure data integrity?
- Tuples are immutable, so once created, data cannot be altered, ensuring consistency.

8. What is a hash table?
- A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally.

9. Can lists contain different data types?
- Yes, lists can store mixed data types:

10. Why are strings immutable in Python?
- For performance, security, and to ensure hash values stay constant (so they can be used as dict keys).

11. Advantages of dictionaries over lists
- Faster lookups by key
- Better for structured data (key-value)

12. When is a tuple better than a list?
- When data should not change, like fixed coordinates or config valu

13. How do sets handle duplicates?
- Sets do not allow duplicates; they automatically discard them.

14. How does “in” work differently for lists and dictionaries?
- In lists: checks for value
- In dictionaries: checks for key

15. Can you modify a tuple? Why/Why not?
- No. Tuples are immutable. Their elements cannot be changed after creation.

16. What is a nested dictionary?
- A dictionary inside another dictionary.

17. Time complexity of accessing dictionary elements
- Average case: O(1), Worst case: O(n)

18. When to prefer lists over dictionaries?
- When order matters or you only need a simple sequence of elements.

19. Why are dictionaries unordered?
- Before Python 3.7, dictionaries did not maintain insertion order. It affects how items are retrieved (now ordered in 3.7+).

20. List vs Dictionary for data retrieval
- List: index-based access
- Dictionary: key-based access (faster, more descriptive)

# Practical Questions - Data Types and Structures

1. Write a code to create a string with your name and print it

In [1]:
name = "Sakshee"
print(name)

Sakshee

2. Write a code to find the length of the string "Hello World"

In [2]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
text = "Python Programming"
print(text[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [4]:
text = "hello"
print(text.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Reverse the list [10, 20, 30, 40, 50]

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [13]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [15]:
fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print(intersection)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [21]:
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [22]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [23]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [24]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [25]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [26]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'key': 'value'}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'key': 'value'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [27]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[39, 50, 81, 91, 94]

28. Write a code to create a list with strings and print the element at the third index.

In [28]:
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result

In [29]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [30]:
words = ['apple', 'banana', 'apple', 'cherry']
word_set = set(words)
print(word_set)

{'apple', 'cherry', 'banana'}